# Hugo build output
public/
resources/_gen/

# Hugo temp files
.hugo_build.lock

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
